.imagem-de-fundo{
background-image: url(../images/bg-desktop.svg);
                  background-color: hsl(257, 40%, 49%);
background-size: cover;
}

.header{
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.main .main1{
    display: flex;
    background-size: cover;
    padding-left: 20px;
}

.main .main2{
    display: flex;
    background-size: cover;
    flex-direction: column;
    padding-left: 10px;
    color: white;
}

.main .main2 h1{
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;

}

.main .main2 h3{
    display: flex;
    padding: 30px 100px
    
}

.main .main2 .button-container{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 10px;
}

.main .button{
    display: flex;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 15px;
}

.main .button:hover{
    background-color:hsl(300, 69%, 71%);
    color:white;
}

.social-media {
   display: flex;
   font-size: 30px;
   justify-content: right;
   padding: 40px;
   padding-top: 0px;
   color: white;
}

.social-media a{
    padding-left: 20px;
    color: white;
}

.social-media a:hover{
    color:hsl(300, 69%, 71%);
}

@media (max-width: 425px) {
    .imagem-de-fundo{
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
    }

    .header{
        padding-left: 70px;
        display: flex;
        width: 100%;
        height: auto;
    }

    .header img{
        width: 40%;
        padding-left: 30px;
    }

    .main{
        flex-direction: column;
        justify-content: center;
    }

    .main .main1 img{
        display: flex;
        width: 80%;
        padding-top: 30px;
        padding-left: 60px;
    }

    .main .main2{
        align-items: center;
        text-align: center;
    }

    .main .main2 h1{
       display: flex;
       font-size: 20px;
       width: 400px;
    }

    .main .main2 h3{
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 400px;
    }

    .button-container{
        display: flex;
        justify-content: center;
        padding-right: 100px;
        padding-bottom: 30px;
    }

    .button-container .button{
        display: flex;
        justify-content: center;
        width: 150px;
        height: 40px;
        font-size: 12px;
    }

    .social-media{
        display: flex;
        justify-content: center;
}

    .social-media a{
        font-size: 25px;
    }
}
